/* ここにcssを入れてください */

/*背景*/
/*あとでclassを揃える*/
body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.game {
    width: 800px;
    height: 400px;
    margin: 50px auto;
    border: 3px solid white;
  
    background: linear-gradient(
      to top,
      #222 0%,
      #444 40%,
      #87ceeb 100%
    );
  }
  
  .character_photo_div{
    width: 100px;
    height: 100px;
    background-color: #87ceeb;
  }

  /* shakeクラスを作成。震えるエフェクトのクラスです */
  /* キャラクターの画像サイズを一定にしてほしいです */